* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1B1D1E;
  min-height: 100%;
  color: white;
}

.customModal {
  background: #c22727;
  max-width: 400px;
  width: 100%;
  padding: 2rem;
}

.container {
  display: flex;
  padding: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

h2 {
  border: 1px solid blue;
  padding: 1rem 3rem;
}

form input, button {
  padding: 1rem 2rem;
  font-size: 2rem;
}

.names-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 700px;
}

.names-container p {
  border: 1px solid white;
  padding: 1rem 2rem;
  align-items: center;
  display: flex;
  gap: 2rem;
}

.names-container p span {
  /* border: 1px solid white; */
  border-radius: 50%;
  padding: 1rem;
  background-color: rgb(158, 40, 40);
  cursor: pointer;
}

.buttons-container {
  display: flex;
  gap: 4rem;
}

button {
  cursor: pointer;
  
}

button:hover {
  opacity: 0.8;
}

.first {
  background-color: rgb(28, 128, 28);
  border: none;
  color: white;
}

.second {
  background-color: #962424;
  border: none;
  color: white;
}

.image-container {
  width: 400px;
  height: 400px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}